<div class="banner box" style="background-image: asset_url('muro1.jpeg'); linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.4))">
 <div class="flex flex-col sm:w-1/3 items-center space-y-2 px-6 p1ym4qhs flex flex-col items-center space-y-2 px-6 ">
  <h1 class="text-center" style="font-size:70px; margin-top:140px; margin-bottom: 30px;">OGAZÓN</h1>
  </div>
</div>
 <div class="links d-flex justify-content-between">
    <%= link_to "Music", music_path %>
    <%= link_to "Photography", photography_path %>
    <%= link_to "Biography", about_path %>
    <%= link_to "Contact", contact_path %>
    <%= link_to "Book", booking_path %>
  </div>
