<div class="banner" style="background-image: asset_url('muro1.jpeg'); linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.4))">
    <h1 >OGAZÓN</h1>
  </div>
</div>
 <div class="links d-flex justify-content-between">
    <%= link_to "Music", music_path %>
    <%= link_to "Photography", photography_path %>
    <%= link_to "Biography", about_path %>
    <%= link_to "Contact", contact_path %>
    <%= link_to "Book", booking_path %>
  </div>
