
<div class="banner box" style="background-image: asset_url('muro1.jpeg'); linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">


 <div class="container">
  <h1 class="text-center" style="font-size:70px; margin-top:5px; margin-bottom: 30px;">OGAZÓN</h1>
  </div>
</div>


<div class="links box d-flex justify-content-between">
<%= link_to "Music", music_path %>
<%= link_to "Photography", photography_path %>
<%= link_to "Biography", about_path %>
<%= link_to "Contact", contact_path %>
<%= link_to "Booking Form", booking_path %>
</div>
